<!doctype html>
<html ng-app="StackTraceDiffer">
<head>
  <title>Stack Trace Differ</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.6.0/angular-local-storage.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
  <style>
    .ui.tab.active {
      display: flex;
      flex-direction: column;
    }
  </style>
</head>
<body ng-controller="RootCtrl as vm" style="display: flex; flex-direction: column;">

<div class="ui top attached tabular menu">
  <a class="active item" data-tab="first">Input Stack Traces</a>
  <a class="item" data-tab="second" ng-click="vm.parseStacks()">Find Common Roots</a>
</div>

<div class="ui bottom attached active tab segment" data-tab="first"
     style="flex-grow: 1; flex-direction: column; margin-bottom: 0;">
  <textarea ng-model="stackTracesRaw" style="width: 100%; flex-grow: 1;"></textarea>
</div>

<div class="ui bottom attached tab segment" data-tab="second" style="flex-grow: 1;">
  <div style="display: flex;">
    <input type="text" ng-model="frameFilter" placeholder="frame filter" style="flex-grow: 1;">
    <input type="text" ng-model="stackFilter" placeholder="stack filter" style="flex-grow: 1;">
  </div>
  <table>
    <tbody>
    <tr><td>1</td></tr>
    <tr><td>1</td><td>2</td></tr>
    <tr><td>1</td><td>2</td></tr>
    </tbody>
  </table>
  <div style="border: 1px solid black;" ng-repeat="st in vm.stackTraces">{{ st }}</div>
</div>


<script src="app.module.js"></script>
</body>
</html>
